<!-- As a heading -->
<nav class="navbar ">
  <a class="navbar-brand mx-auto" style="width: 200px;">

    <p class="fs-1 fw-bold">Curriculo</p>
  </a>
</nav>
<main>
  <div>
    <div class="row ">
      <div class="col-sm-3 ">
        <div class="card border-0">
          <div class="card-body">

            <img class="img-thumbnail" alt="" src="./assets/imagem.jpg">
            <br>
            <br>
            <h2 class="card-text">Dados Pessoais:</h2>
            <br>

            <ul>
              <li class="li"> Nome</li>
              <a> Eliane de Lima Henriqueta</a>
              <li class="li">Data Nascimento</li>
              <a> 26/04/1978</a>
              <li class="li">Endereço</li>
              <a> Rua: Jose Zeferino Ribeiro,808 Urubici -SC</a>
              <li class="li">E-mail</li>
              <a> elianehenriqueta@gmail.com</a>
              <li class="li">Telefone</li>
              <a> 49 9 8421-0886</a>
            </ul>
            <a href="#" class="btn btn-primary">Feedback</a>
          </div>
        </div>
      </div>

      <div class="col-sm-9">
        <div class="card border-0">
          <div class="card-body">
            <h2 class="card-title">Perfil</h2>
            <p class="card-text">Formada em Ciencias Contabeis , trabalhei na area fiscal, recursos humanos por 3 anos,
              sempre realizei meu trabalho com atençao, dedicaçao responsabilidade.<br>
              Estou realizando uma transiçao de carreira, sempre gostei da area de tecnologia,gosto de aprender e
              ampliar
              meus conhecimentos,sou organizada,responsavel e proativa.Atualmente estou cursando o DEVinHouse onde terei
              uma formação
              em FullStack nas tecnologias Angular e .NET Core e tambem realizando cursinhos pararelos
              na Dio.me e Devaria .
            </p>
            <br>
            <br>
            <h2 class="card-title">Formação</h2>
            <ul>
              <li class="li"> Tecnico em Manutenção e Suporte em Informatica</li>
              <a> Inicio 22/02/2021 conclusão 29/07/2022. SENAC – Lages.</a>
              <li class="li"> Tecnico em Manutenção e Suporte em Informatica</li>
              <a> Inicio 22/02/2021 conclusão 29/07/2022. SENAC – Lages.</a>
              <li class="li">Pós-Graduação em Auditoria, Contabilidade e Perícia Contábil</li>
              <a> Conclusão 2018. UNICESUMAR - Lages.</a>
              <li class="li">Bacharel em Ciências Contábeis</li>
              <a> Conclusão 2016 UNICESUMAR – Lages</a>
            </ul>
            <br>

            <h2 class="card-title">Experiências</h2>
            <ul>
              <li class="li"> Agrovale Agropecuária alto Vale</li>
              <a> 08/11/2017 a 03/01/2020 </a><br>
              <a> Assistente Administrativo - Na área fiscal,lançamentos de notas fiscais,impostos e boletos no sistema.
                <br>Em departamento pessoal gerenciava a folha de pagamento, férias, benefícios, atestados, marcação de
                ponto ,admissao e demissao.
                <br> Na área financeira conferência de pagamentos de boletos de fomecedores,e recebimentos de clientes
                através de recebimentos de cartões e via banco. </a>
              <br>
              <li class="li"> Tecnicon Contabilidade — 49 3278-4160</li>
              <a> 06/02/2014 a 22/02/2017.</a><br>
              <a> Auxiliar Escritório: importação, lançamentos e conferência de notas fiscais no Sistema Domínio,
                <br>auxílio ao fechamento do fluxo de caixa,lançamentos de duplicatas no sistema para consolidação de
                balanço.</a>
              <br>
              <li class="li">Paulo Cesar Nunes — 49 3278 – 4510</li>
              <a> 01/03/2013 a 05/02/2014.</a><br>
              <a>Balconista: lançamentos de notas de fiscais, faturamento de notas, emissão de boletos e vendedora.</a>
              <br>
              <li class="li">Mini Mercado Minuano — 49 3278 - 4235</li>
              <a> 01/08/2006 a 17/07/2012.</a> <br>
              <a> Balconista: operadora de caixa, lançamento de notas fiscais, emissão de notas saída.</a>
              <br>

            </ul>

            <br>
            <h2 class="card-title">Objetivo</h2>
            <p class="card-text">Atuar na area de desenvolvimento na liguagem C# e na area de Bancos de Dados SQL.<br>
              Cursar faculdade de Engenharia de Software ou Banco de Dados.
            </p>


          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<footer class="footer__container ">
  <section class="footer__copyright">
    &copy; DEVinHouse - Todos os direitos reservados
  </section>
</footer>
